@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crete+Round&family=Roboto+Slab&display=swap");

:root {
	--firstcolor: #1c1d20;
	--seccolor: #f9f871;
	--thirdcolor: #9fa0a2;

	--primaryfont: "Roboto Slab", serif;
	--secondaryfont: "Crete Round", serif;
}

*::selection,
span::selection {
	background-color: var(--seccolor);
}

.mybg-dark {
	padding: min(7%, 3.125rem);

	background-color: var(--firstcolor);
}

.mybg-seccolor {
	padding: min(7%, 3.125rem);

	background-color: var(--seccolor);
}

.mybg-thircolor {
	padding: min(7%, 3.125rem);

	background-color: var(--thirdcolor);
}

.mypricolor {
	color: var(--firstcolor);
}

.myseccolor {
	color: var(--seccolor);
}

.mythircolor {
	color: var(--thirdcolor);
}

.mytext_shadow_1 {
	text-shadow: 3px 3px 25px #fff;
}

.mytext_shadow_2 {
	color: var(--seccolor);

	text-shadow: 3px 3px 35px var(--seccolor);
}

body {
	font-family: var(--primaryfont);
}

.cookie_link.myseccolor {
	background: none;
	transition: all 200ms linear;
}

.cookie_link.myseccolor:hover {
	color: rgb(255, 166, 0);
}

/* Index page Start */

.cookie_bar {
	padding: 1rem 5rem;

	/* width: 100%; */

	background-color: rgba(28, 29, 32, 0.75);

	justify-content: space-between;
	align-items: center;

	position: fixed;
	bottom: 0;

	z-index: 100;
}

.cookie_bar > p {
	margin: 0;

	width: max(18rem, 70%);

	text-align: justify;
}

.cookie_bar > .accept_btn {
	padding: 10px 20px;

	height: max-content;

	border-radius: 5px;

	background-color: var(--thirdcolor);
}

.cookie_bar > .accept_btn:hover {
	color: #000;
	background-color: var(--seccolor);
}

.cookie_bar > p > a {
	color: #999;

	transition: all 500ms linear;
}

.cookie_bar > p > a:hover {
	color: var(--seccolor);
}

.index_slider img {
	height: calc(100vh - 87px);

	filter: brightness(30%);
	object-fit: cover;
}

.index_slider .carousel-caption {
	width: max(18.75rem, 70%);
}

.carousel-inner .carousel-caption h1 {
	text-transform: capitalize;
}

.carousel-inner .carousel-caption h1 > span {
	color: var(--seccolor);
}

.carousel-inner .carousel-caption h3 {
	text-transform: capitalize;

	color: var(--thirdcolor);
}

.carousel-inner .carousel-caption p {
	color: var(--thirdcolor);
}

.carousel-inner .carousel-caption .getstartbtn,
.vision_section .readmorebtn,
.product_load_more,
.service_section .readmorebtn {
	padding: 15px 35px;

	text-decoration: none;
	font-size: clamp(1.25rem, 1vw, 2.5rem);

	border: 2px solid #999;
	color: #fff;

	position: relative;
	isolation: isolate;
}

.carousel-inner .carousel-caption .getstartbtn::before,
.vision_section .readmorebtn::before,
.product_load_more::before,
.service_section .readmorebtn::before {
	content: "";

	width: 100%;
	height: 100%;

	background-color: #fff;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	transform: scaleY(0);

	transition: all 300ms linear;
}

.carousel-inner .carousel-caption .getstartbtn:hover::before,
.vision_section .readmorebtn:hover::before,
.product_load_more:hover::before,
.service_section .readmorebtn:hover::before {
	transform: scaleY(1);
}

.carousel-inner .carousel-caption .getstartbtn:hover,
.vision_section .readmorebtn:hover,
.product_load_more:hover,
.service_section .readmorebtn:hover {
	color: #000;
}

.vision_section .readmorebtn::before {
	transform-origin: left;
	transform: perspective(500px) scale(0) rotateY(0deg);
}

.vision_section .readmorebtn:hover::before {
	transform-origin: center;
	transform: perspective(500px) scale(1) rotateY(180deg);
}

.vision_section .read2::before {
	transform-origin: right;
	transform: perspective(500px) scale(0) rotateY(0deg);
}

.product_load_more::before {
	transform: scaleX(0);
}

.product_load_more:hover::before {
	transform: scaleX(1);
}

.row .slide_text {
	font-size: 10rem;
	font-weight: 900;
}

.search_section {
	width: 100%;
	min-height: 50vh;

	background: var(--firstcolor);
}

.search_section form {
	width: min(100%, 1300px);

	margin: auto;
}

.search_section form legend {
	margin-bottom: 25px;

	line-height: 1;
	text-align: center;
	font-size: 72px;

	color: #fff;
}

.search_section form .search_box {
	padding: 50px 47px;

	width: 100%;

	background: rgba(249, 249, 113, 0.6);

	box-shadow: 0px 0px 20px #f9f871;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search_section form .search_box .input-field {
	margin-right: 30px;

	height: 68px;
}

.search_section form .search_box .input-field input {
	padding: 10px 32px;

	height: 100%;
	width: 100%;

	font-size: 20px;
	border: 0;
	border-radius: 0.5px;

	background: #fff;

	display: block;
}

.search_section form .search_box .input-field input.placeholder {
	font-size: 20px;

	color: #9a9a9a;
}

.search_section form .search_box .input-field input:-moz-placeholder {
	font-size: 20px;

	color: #9a9a9a;
}

.search_section form .search_box .input-field input::-webkit-input-placeholder {
	font-size: 20px;

	color: #9a9a9a;
}

.search_section form .search_box .input-field input:hover,
.search_section form .search_box .input-field input:focus {
	box-shadow: none;
	outline: 0;
}

.search_section form .search_box .input-field.first-wrap {
	flex-grow: 1;
}

.search_section form .search_box .input-field.second-wrap {
	width: max(32.77%, 180px);
}

.search_section form .search_box .input-field.third-wrap {
	margin-right: 0;

	width: 180px;
}

.search_section form .search_box .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;

	font-size: 20px;
	white-space: nowrap;

	border: 0;
	border-radius: 0.5px;

	color: #fff;

	background: var(--firstcolor);

	cursor: pointer;

	transition: all 350ms linear;
}

.search_section form .search_box .input-field.third-wrap .btn-search:hover {
	background: var(--thirdcolor);
}

.card.card_background img {
	transition: all 500ms linear;
}

.card.card_background:hover img {
	transform: scale(1.1) rotate(5deg);
}

.card_background .card-body > img {
	/* height: 300px; */

	object-fit: cover;
}

.card_background .btn {
	border: 0;

	background-color: var(--thirdcolor);

	transition: all 500ms linear;
}

.card_background .btn:hover {
	color: #fff;
	background-color: #1c1d20;
}

.brand_section {
	padding: min(7%, 3.125rem);

	background-color: var(--firstcolor);
}

.brand_section .brand_card > i {
	font-size: 4rem;

	color: #1b87c8;
}

.brand_card > * {
	color: #fff;
}

.brand_card .brand_content > h1 {
	text-transform: capitalize;
	font-weight: 900;

	color: #1b87c8;
}

.brand_card:nth-of-type(2) > i,
.brand_card:nth-of-type(2) .brand_content > h1 {
	color: rgb(255, 166, 0);
}

.brand_card:nth-of-type(3) > i,
.brand_card:nth-of-type(3) .brand_content > h1 {
	color: rgb(157, 255, 0);
}

.brand_card:nth-of-type(4) > i,
.brand_card:nth-of-type(4) .brand_content > h1 {
	color: var(--seccolor);
}

.brand_card .brand_content > a {
	padding: 15px 25px;

	text-decoration: none;

	color: #fff;
	background-color: #26a78c;

	transition: all 500ms linear;
}

.brand_card .brand_content > a:hover {
	background-color: #00757f;
}

.video_section {
	padding: min(7%, 3.125rem);
	background: var(--firstcolor);

	position: relative;
	isolation: isolate;
}

.video_section > h1 {
	margin-bottom: 25px;

	font-weight: 900;
}

.video_section .video_img {
	filter: brightness(50%);
}

.play {
	padding: 2rem;
	padding-left: 2.5rem;

	width: 100px;
	height: 100px;

	font-size: 3rem;

	border-radius: 100%;

	color: #fff;

	background-color: rgb(156, 156, 156);

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: translate(-50%, -50%);
}

.play a {
	color: #fff;
}

.play::before,
.play::after {
	content: "";

	width: 100%;
	height: 100%;

	border: 1px solid #999;

	border-radius: 100%;

	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.75) inset;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	isolation: isolate;

	animation: wave 4.5s linear infinite;
}

.play::after {
	animation-delay: 0.5s;
}

@keyframes wave {
	0% {
		opacity: 0;

		transform: scale(0.5);
	}

	25% {
		opacity: 1;

		transform: scale(2);
	}

	50% {
		opacity: 0;

		transform: scale(2.5);
	}

	51% {
		opacity: 0;
		transform: scale(1);
	}

	75% {
		opacity: 1;

		transform: scale(2);
	}

	100% {
		opacity: 0;

		transform: scale(2.5);
	}
}

.vision_section {
	padding: min(7%, 3.125rem);
	background: var(--firstcolor);

	position: relative;
	isolation: isolate;
}

.vision_section h1 {
	margin-bottom: 25px;

	font-weight: 900;
}

.vision_section .vision_text::first-letter,
.info_row .info_text::first-letter {
	margin-top: -10px;
	font-size: 3rem;
	float: left;

	color: var(--seccolor);
}

.vision_section > .row iframe {
	margin: 20px 0;
	height: 400px;
}

.vision_section > .row p {
	text-align: justify;
}

.text-black {
	color: #000;
}

.content_contact {
	padding: min(7%, 3.125rem);
}

.content_contact .row > * {
	padding: 0;
}

.contact_header {
	font-weight: 900;
}

.form-control {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	background: none;
}

.form-control:active,
.form-control:focus {
	outline: none;
	-webkit-box-shadow: none;

	box-shadow: none;
	border-color: #000;
}

.col-form-label {
	color: #000;
	font-size: 13px;
}

.content_contact .btn,
.form-control,
.custom-select {
	height: 45px;
}

.custom-select:active,
.custom-select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000;
}

.content_contact .btn {
	font-size: 1rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;

	border: none;
	border-radius: 0;
}

.content_contact .btn:hover {
	color: #fff;
}

.contact_btn {
	background-color: var(--thirdcolor);
}

.contact_btn:hover {
	color: #fff;
	background-color: var(--firstcolor);
}

.content_contact .btn:active,
.content_contact .btn:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.contact-wrap .col-form-label {
	margin: 0 0 10px 0;
	padding: 0;

	font-size: 14px;
	font-weight: 700;

	color: #000;

	display: inline-block;
}

.contact-wrap .form,
.contact-wrap .contact-info {
	padding: 0 40px;
}

.contact-wrap .form {
	background: #fff;
}

.contact-wrap .form input:active,
.contact-wrap .form textarea:active {
	background: #fff;
}

.contact-wrap .form input:focus,
.contact-wrap .form textarea:focus {
	background: #fff;
}

.contact-wrap .form h3 {
	margin-bottom: 30px;

	text-transform: uppercase;
	font-size: 20px;
	font-weight: 900;
}

.contact-wrap .contact-info {
	height: 100vh;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

label.error {
	font-size: 12px;

	color: red;
}

#message {
	resize: vertical;
}

#form-message-warning,
#form-message-success {
	display: none;
}

#form-message-warning {
	color: #b90b0b;
}

#form-message-success {
	font-size: 18px;
	font-weight: bold;

	color: #55a44e;
}

.submitting {
	padding: 10px 0;

	width: 100%;

	font-weight: bold;
	font-size: 12px;

	display: none;

	color: #000;

	float: left;
}

::-webkit-scrollbar {
	margin: 0;
	padding: 0;
	width: 0.65rem;
	color: transparent;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--firstcolor), var(--seccolor));
	transition: all 500ms linear;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(0deg, var(--firstcolor), var(--seccolor));
}

/* index page End */

/* Product page Start */

img,
picture {
	max-width: 100%;
	display: block;
}

.banner {
	width: 100%;
	height: 50vh;
	max-height: 20rem;

	color: #fff;
	background: rgba(0, 0, 0, 0.7) url("../img/bg1.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner > h1 {
	font-weight: 900;
}

#productbanner {
	background-image: url("../img/bg1.jpg");
}

#aboutbanner {
	background-size: contain;
	background-image: url("../img/banner/about-banner.jpg");
}

#servicebanner {
	background-image: url("../img/banner/servicebanner.jpg");
}

#contactbanner {
	background-image: url("../img/banner/contact.jpg");
}

#featurebanner {
	background-image: url("../img/bg2.jpg");
}

.gallery_container {
	max-width: 100%;
	margin-inline: auto;
	padding-inline: 2rem;

	background-color: #1c1d20;
}

.stacked {
	display: grid;
}

.stacked > * {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.product-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.productcard {
	border-radius: 5px;

	aspect-ratio: 1 / 1.25;

	position: relative;

	overflow: hidden;

	transition: all 1s linear;
}

.card__content {
	width: 100%;
	height: 100%;

	padding: 1rem;

	border-radius: 5px;

	color: #000;

	background-color: #e2e2e2;

	position: absolute;
	top: 100%;
	left: 100%;

	z-index: 10;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	transition: all 300ms linear;
}

.card__content > * {
	margin: 0;
	padding: 0;
}

.card__title {
	line-height: 1.1;
	font-size: clamp(0.75rem, 1.5vw, 1.25rem);
	font-weight: 900;

	color: #000;
}

.card__price {
	font-size: clamp(1.75rem, 2vw, 2.5rem);
	font-weight: 900;
}

.card__description {
	margin-bottom: 10px;

	font-family: var(--secondaryfont);
	font-size: clamp(0.6rem, 1.25vw, 1.15rem);

	text-align: center;
}

.card__img {
	width: 100%;
	aspect-ratio: 1 / 1.25;
	object-fit: cover;

	filter: brightness(60%);

	transition: all 500ms linear;
}

.productcard:hover .card__content {
	top: 0;
	left: 0;
}

.productcard:hover .card__img {
	filter: brightness(80%);
}

.gallery_container .product_btn {
	padding: 5px 15px;

	width: 100%;

	line-height: 35px;

	border-radius: 5px;

	color: #fff;
	background-color: var(--firstcolor);
}

.gallery_container .product_btn:hover {
	color: #000;
	background-color: var(--seccolor);
}

/* Product page End */

/* About us page start */

.infoproduct_header {
	margin: 20px 0;

	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	font-weight: 300;

	color: #000;

	position: relative;
}

.infoproduct_header::after {
	content: "";

	margin: 0 auto;

	width: 100px;
	height: 4px;

	border-radius: 1px;

	background: var(--seccolor);

	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
}

.product_slider {
	margin: 50px auto;
	padding: 0 70px;
}

.product_slider .item {
	min-height: 450px;

	text-align: center;

	color: #000000;
	overflow: hidden;
}

.product_slider .thumb-wrapper {
	padding: 20px 15px;

	text-align: center;

	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

	border-radius: 6px;

	background: #fff;

	position: relative;
}

.product_slider .carousel-indicators {
	margin-bottom: -3.5rem;
}

.product_slider .carousel-indicators [data-bs-target] {
	width: 15px;
	height: 10px;
}

.product_slider .carousel-indicators > .active {
	width: 75px;
	height: 10px;

	opacity: 1;
}

.product_slider .item .img-box {
	margin-bottom: 20px;

	width: 100%;
	height: 250px;

	position: relative;
}

.product_slider .item img {
	width: 100%;
	height: 100%;

	object-fit: cover;

	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.product_slider .item h4 {
	font-size: 1.5rem;
}

.product_slider .item h4,
.product_slider .item p,
.product_slider .item ul {
	margin-bottom: 5px;
}

.product_slider .thumb-content .btn {
	padding: 6px 14px;
	margin-top: 5px;

	line-height: 16px;

	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;

	border: 1px solid #000000;
	border-radius: 20px;

	color: #000000;

	background: none;
}

.product_slider .thumb-content .btn:hover,
.product_slider .thumb-content .btn:focus {
	box-shadow: none;

	color: #fff;
	background: #000;
}

.product_slider .thumb-content .btn i {
	margin-left: 5px;

	font-size: 14px;
	font-weight: bold;
}

.product_slider .item-price {
	padding: 2px 0;

	font-size: 0.9rem;
	font-weight: 900;

	color: #b22222;
}

.product_slider .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
	margin: auto 0;

	height: 44px;
	width: 40px;

	border-radius: 4px;

	background: var(--thirdcolor);
	opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	background: #c7c769;
	opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i {
	margin: -19px 0 0 0;

	font-size: 36px;
	font-weight: bold;

	text-shadow: none;

	color: #fff;

	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	z-index: 5;

	display: inline-block;
}

.carousel-control-prev i {
	margin-left: -2px;
}

.carousel-control-next i {
	margin-right: -4px;
}

.product_slider .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}

.product_slider .wish-icon .fa-heart {
	color: #ff6161;
}

.star-rating li {
	padding: 0;
}

.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.info_row {
	padding: min(7%, 3.125rem);
}

.info_row .info_text {
	text-align: justify !important;
}

.info_row .info_new1 img,
.info_row .info_new2 img {
	height: 50%;
}

.info_row .info_new_text {
	font-size: clamp(1.5rem, 2.5vw, 3.5rem) !important;
}

.customer_slider .customer_slider_inner img {
	width: 200px;
	height: 200px;

	margin: 20px auto;

	border: 5px solid var(--seccolor);
	border-radius: 50%;

	box-shadow: 0px 0px 20px var(--seccolor);

	object-fit: cover;
}

.customer_slider .customer_slider_inner .carousel-item {
	width: 100%;
	height: 400px;
}

.customer_slider .carousel-indicators {
	/* bottom: -100px; */
}

.customer_slider .carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;

	border-radius: 100%;
}

.customer_slider .carousel-indicators > .active {
	opacity: 1;
}

/* About us page End */

/* Contact Us Start */

.box {
	padding: 20px 40px 40px 40px;

	width: 100%;

	background-color: #fff;
}

.box h2 {
	margin: 0 0 40px;
	padding: 0;

	text-transform: uppercase;

	color: var(--firstcolor);
}

.box input {
	padding: 10px 0;
	margin-bottom: 30px;
}

.box textarea {
	padding: 10px 0;
	margin-bottom: 40px;

	height: 80px;
}

.box input,
.box textarea {
	width: 100%;

	border: 0;
	border-bottom: 2px solid var(--thirdcolor);

	outline: none;
}

.box textarea {
	margin-bottom: 20px;
}

.box input[type="submit"] {
	margin-bottom: 0;

	text-transform: uppercase;
	font-size: 20px;

	border-bottom: none;

	color: #fff;
	background-color: var(--thirdcolor);

	cursor: pointer;
}

.box form div {
	position: relative;
}

.box form div label {
	color: #999;

	position: absolute;
	top: 10px;
	left: 0;

	pointer-events: none;

	transition: all 0.5s;
}

.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label {
	font-size: 12px;
	font-weight: bold;

	color: var(--firstcolor);

	top: -12px;
	left: 0;
}

.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid {
	border-bottom: 2px solid var(--firstcolor);
}

.box input.contactus_btn:focus,
.box input.contactus_btn:valid {
	border: 0;
}

.box input.contactus_btn {
	transition: all 500ms linear;
}

.box input.contactus_btn:hover {
	background-color: var(--firstcolor);
}

.location_section {
	width: 100%;
	height: 650px;

	font-weight: 900;
	letter-spacing: 1px;

	background: url("../img/location.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.35);
	background-blend-mode: multiply;
}

.location_section h1 {
	color: #fff;
	text-align: center;
}

.google_map {
	width: min(80%, 70rem);
	height: min(70%, 31.25rem);

	margin: min(11%, 10rem);
	margin-bottom: 0;

	border: 0;
}

/* Contact Us End */

/* Log in and Sign up start */
.divider:after,
.divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}

.h-custom {
	color: var(--thirdcolor);
}

.h-custom label,
.h-custom .signinheader {
	color: #000;
}

.login_btn {
	color: #fff;
	background-color: #1c1d20;

	transition: all 500ms linear;
}

.login_btn:hover {
	background-color: #999;
}

.singup_link {
	color: #000;

	transition: all 200ms linear;
}

.singup_link:hover {
	color: #b90b0b;
}

.input_phone input::-webkit-outer-spin-button,
.input_phone input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input_phone input[type="number"] {
	-moz-appearance: textfield;
}
/* Log in and Sign up end */

/* policy Start */

.policy h2 {
	text-transform: capitalize;
}

.policy_text {
	text-align: justify;
}
/* policy End */

/* service start */
.service_img {
	margin: 0 2rem 0.5rem 0;
	width: 450px;
	height: 450px;

	float: left;
	object-fit: cover;
	shape-outside: circle();
}

.service_text {
	padding: 0 2rem;
	font-size: 1.25rem;

	text-align: justify;
}

/* service End */

/* Admin Dashboard start*/

.table tr:nth-of-type(odd) {
	background-color: #eee;
}

.table tr:nth-of-type(even) {
	background-color: var(--thirdcolor);
}

/* Admin Dashboard end*/

/* feature or product deatail start */

.card {
	border: none;

	overflow: hidden;
}

.product {
	background-color: #eee;
}

.brand {
	font-size: 13px;
}

.act-price {
	color: red;
	font-weight: 700;
}

.dis-price {
	text-decoration: line-through;
}

.about {
	font-size: 14px;
}

.color {
	margin-bottom: 10px;
}

label.radio {
	cursor: pointer;
}

label.radio input {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
}

label.radio span {
	padding: 2px 9px;
	border: 2px solid #ff0000;
	display: inline-block;
	color: #ff0000;
	border-radius: 3px;
	text-transform: uppercase;
}

label.radio input:checked + span {
	border-color: #ff0000;
	background-color: #ff0000;
	color: #fff;
}

.btn-danger {
	background-color: #ff0000 !important;
	border-color: #ff0000 !important;
}

.btn-danger:hover {
	background-color: #da0606 !important;
	border-color: #da0606 !important;
}

.btn-danger:focus {
	box-shadow: none;
}

.cart i {
	margin-right: 10px;
}

/* feature or product deatail End */

/* Payment start */

.card .inputbox .form-control {
	border-bottom: 2px solid #eee !important;
	border: none;
	font-weight: 600;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #8bbafe;
	outline: 0;
	box-shadow: none;
	border-radius: 0px;
	border-bottom: 2px solid #1c1d20 !important;
}

.inputbox {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}

.inputbox span {
	position: absolute;
	top: 7px;
	left: 11px;
	transition: 0.5s;
}

.inputbox i {
	position: absolute;
	top: 13px;
	right: 8px;
	transition: 0.5s;
	color: #1c1d20;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inputbox input:focus ~ span {
	transform: translateX(-0px) translateY(-15px);
	font-size: 12px;
}

.inputbox input:valid ~ span {
	transform: translateX(-0px) translateY(-15px);
	font-size: 12px;
}

.hightlight {
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
	font-size: 14px;
}

.decoration {
	text-decoration: none;
	font-size: 14px;
}

.buy_btn {
	width: 20%;

	color: #000;
	background-color: var(--seccolor);
	border-color: var(--seccolor);
}

.buy_btn:hover {
	color: #fff;
	background-color: var(--thirdcolor);
	border-color: var(--thirdcolor);
}

.decoration:hover {
	text-decoration: none;
	color: #fdcc49;
}

/* Payment */
